# Resources configuration
# You can override these with environment variables (MONGO_URI, MONGO_USERNAME, MONGO_PASSWORD, MONGO_HOST)

# Full connection URI (optional)
# mongo.uri=mongodb+srv://nihitpurwar_db_user:jw3RE4@dev-falconiq.slvn2fn.mongodb.net/?retryWrites=true&w=majority

# Or provide username/password/host separately
mongo.username=nihitpurwar_db_user
mongo.password=jw3RE4IUQg5d3iIP
mongo.host=dev-falconiq.slvn2fn.mongodb.net

# Optional fallback
mongo.fallback=mongodb://localhost:27017
